$background-color : #ffffff;
$muted-color : #9E9E9E;
$unmuted-color : #404040;
$title-color : #BCBCBC;
$link-color : #0085FF;
$brand-color : #7000FF;
$incognito-color: #7000FF;
$hover-icon-color : #E5F6FF;
$divider : #EBEBEB;